<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Cart</title>
</head>
<body>
<h1>Your cart</h1>
<div>
<table th:each="dto : ${dtoList}">
  <tr>
    <th th:text="'product id: ' + ${dto.productName}"/>
  </tr>
  <tr>
    <th th:text="'quantity: ' + ${dto.quantity}"/>
  </tr>
  <tr>
    <th th:text="'total price: ' + ${dto.price} * ${dto.quantity}"/>
    <hr>
  </tr>
  <tr>
    <td><a th:href="'/cart/' + ${dto.productId} + '/add-one'"> add one </a></td>
    <td><a th:href="'/cart/' + ${dto.productId} + '/remove-one'"> remove one </a></td>
  </tr>
  <tr>
    <td><a th:href="'/cart/' + ${dto.productId} + '/remove'"> delete ALL </a></td>
  </tr>
</table>
  <p><a href="/orders/order-products">order</a></p>
</div>

<p><a href="/">to main</a></p>
</body>
</html>