<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Main page</h1>

<p>GO TO <a href="/products/create-product">create products</a></p>
<hr>
<p>GO TO <a href="/products/product-list">product list</a></p>
<hr>
<p>GO TO <a href="/categories/create-category">create category</a></p>
<hr>
<p>GO TO <a href="/categories/category-list">category list</a></p>
<hr>
<p>GO TO <a href="/login">login</a></p>
<hr>
<p>GO TO <a href="/authorized">auth user</a></p>
<hr>
<p>GO TO <a href="/profile">profile</a></p>
<hr>
<p>GO TO <a href="/cart/view">cart</a></p>

</body>
</html>