<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Product update</title>
</head>
<body>

<h1>Edit product listing</h1>
<hr>
<form th:object="${product}" method="post">
    <table>
        <tr>
            <th><label for="name">Listing name</label></th>
            <td><input id="name" th:field="*{name}" type="text" th:placeholder="${productToUpdate.name}"/></td>
        </tr>
        <tr>
            <th><label for="category">Pick category</label></th>
            <td><select id="category" th:field="*{categoryId}">
                <option value="1" selected>Tech</option>
                <option value="2">Other</option>
            </select></td>
        </tr>
        <tr>
            <th><label for="description">Description</label></th>
            <td><input id="description" th:field="*{description}" type="text" th:placeholder="${productToUpdate.name}"/></td>
        </tr>
        <tr>
            <th><label for="price">Price for one</label></th>
            <td><input id="price" th:field="*{price}" type="number" th:value="${productToUpdate.price}"/></td>
        </tr>
        <tr>
            <th><label for="photos">Photo of product</label></th>
            <td><input id="photos"/></td>
        </tr>
        <tr>
            <th><label for="condition">Pick condition</label></th>
            <td><input id="condition" th:field="*{condition}" th:placeholder="${productToUpdate.condition}"/></td>
        </tr>
        <tr>
            <th><label for="quantity">Quantity available</label></th>
            <td><input id="quantity" th:field="*{quantity}" th:value="${productToUpdate.quantity}"/></td>
        </tr>
        <tr>
            <th><input type="submit" value="edit"></th>
        </tr>
</table>
</form>
</body>
</html>