<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Product update</title>
</head>
<body>
<h1>Profile test</h1>
<table>
    <tr>
        <th>username</th>
        <td th:text="${username}"/>
    </tr>
    <tr>
        <th>first name</th>
        <td th:text="${firstName}"/>
    </tr>
    <tr>
        <th>last name</th>
        <td th:text="${lastName}"/>
    </tr>
    <tr>
        <th>email</th>
        <td th:text="${email}"/>
    </tr>

</table>

</body>
</html>