<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h1>Order details</h1>
<div th:each="orderItem :${orderItemList}">
    <table>
        <tr>
            <th>Product id</th>
            <td th:text="${orderItem.productId}"/>
        </tr>
        <tr>
            <th>Product quantity</th>
            <td th:text="${orderItem.quantity}"/>
        </tr>
    </table>
    <hr>
</div>

<h1>Shipping info</h1>
    <table>
        <tr>
            <th>Product id</th>
            <td th:text="${shippingInfo.firstName}"/>
        </tr>
        <tr>
            <th>Product quantity</th>
            <td th:text="${shippingInfo.lastName}"/>
        </tr>
    </table>
    <hr>
</body>
</html>